name: CI Pipeline


on:
push:
branches: [ main ]
pull_request:
branches: [ main ]


jobs:
backend:
runs-on: ubuntu-latest


services:
postgres:
image: postgres:15
env:
POSTGRES_DB: tacosbd
POSTGRES_USER: tacosuser
POSTGRES_PASSWORD: tacospass
ports:
  - 5555:5555
options: >-
  --health-cmd pg_isready
  --health-interval 10s
  --health-timeout 5s
  --health-retries 5


steps:
  - name: Télécharger le code
uses: actions/checkout@v4


  - name: Installer Java
uses: actions/setup-java@v4
with:
distribution: 'temurin'
java-version: '17'


  - name: Lancer les tests backend
working-directory: backend
run: ./mvnw test


frontend:
runs-on: ubuntu-latest


steps:
  - name: Télécharger le code
uses: actions/checkout@v4


  - name: Installer Node.js
uses: actions/setup-node@v4
with:
node-version: '20'


  - name: Installer les dépendances
working-directory: frontend
run: npm install


  - name: Builder Angular
working-directory: frontend
run: npm run build
